In [56]:
import pandas as pd
import json
import requests as req
import time

In [57]:
movie_df = pd.read_csv('movie_df.csv') #low_memory=False
movie_df = movie_df.head()

In [58]:
url = "http://www.theimdbapi.org/api/movie?movie_id="
rating_list = []
for i in movie_df['imdb_id']:
    response = req.get(url + i)
    response = response.json()
    response = (response['title'],
                response['rating'],
               response['rating_count'])
    rating_list.append(response)
    #time.sleep(5)

In [59]:
ratings = pd.DataFrame(rating_list, columns = ('title','rating','rating count'))
ratings

                         title rating rating count
0                    Toy Story    8.3      698,337
1                      Jumanji    6.9      233,895
2             Grumpier Old Men    6.6       20,793
3            Waiting to Exhale    5.7        8,005
4  Father of the Bride Part II    5.9       28,765